* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: beige;
}

.container {
    width: 100%;
    min-width: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: burlywood;
}

.logo {
    width: 100px;
    cursor: pointer;
    margin: 20px;
    padding-left: 0px;
    border-radius: 75%;
}

.menu {
    font-size: large;
    cursor: pointer;
    padding: 20px;
    display: none;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: large;
    cursor: pointer;
}

nav ul li a:hover {
    background-color: brown;
    font-size: larger;
    padding: 5px;
    font-weight: bold;
    border-radius: 25%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
    padding-left: 3%;
    padding-right: 3%;
 }

.col-1 {
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
}

.col-1 h1{
    font-size: 54px;
}

.col-1 h2 {
    font-size: 30px;
    color: #777;
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: gray;
    font-weight: 100;
}

.col-1 p {
    margin: 30px 0;
    font-size: 20px;
    padding-right: 20px;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 80%;
    background: brown;
    position:absolute;
    left: -40px;
    top: 8px;
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background-color: brown;
    cursor: pointer;
}

.buttonReadMore a {
    text-decoration: none;
    color: white;
}

.buttonReadMore a:hover {
    font-weight: bold;
    font-size: 14px; 
}

.col-2 {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.col-2 .adaMachine {
    max-width: 1200px;
    min-width: 300px;
    width: 90%;
    border-radius: 20px;
}

.colorBox {
    position: absolute;
    right: 5%;
    top: 0;
    background: brown;
    opacity: .5;
    border-radius: 25%;
    height: 100%;
    width: 80%;
    z-index: -1;
}



/* for the footer section */

footer {
    min-height: 50px;
    position: absolute;
    bottom: 0;
    background: burlywood;
    color: white;
    width: 100%;
}


.footLogo {
    width: 100%;
    max-width: 150px;
    padding-left: 50px;
}

.foot-row {
    display: flex;
    justify-content: center;
}

.foot-row .foot-col {
    flex-basis: 30%;
    align-items: center;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.fcol1 p {
    text-align: left;
}

.foot-row .fcol1 {
    text-align: left;
}

.foot-row .fcol2 {
    color: #777;
    opacity: .8;
}

.foot-row .fcol2 h1 {
    text-align: center;
}

.foot-row .fcol2 h2 {
    text-align: center;
}