* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* background and body container */
.forms-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: violet;
    background: url(https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg);
    background-size: cover;
    background-position: center;
}

/* form box */
.form-content {
    max-width: 500px;
    width: 85%;
    padding: 30px;
    border-radius: 10px;
    background: ghostwhite;
    text-align: center;
    color: #4D73C8;
}

h3{
    font-size: smaller;
}

/* hyperlinks only in the page */
a {
    text-decoration: none ;
    color: blue;
}

/* mouse over behaviour */
a:hover {
    text-decoration: underline;
}

