* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.navbar {
  background: #002060;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  text-transform: uppercase;
  padding: 2rem 1rem;
  margin: 0 1rem;
}

.menu-link:hover {
  background-color: white;
  color: #002060;
  font-weight: 700;
}

.green6 {
  background: #C6E0B4;
}

.gold4 {
  background: #FFF2CC;
}

.blue5 {
  background: #9BC2E6;
}

.cell1 {
  width: 20px;
  height: 20px;
  margin: 20px 10px 0;
}

.cell2 {
  width: 40px;
  height: 20px;
  margin: 20px 10px 0;
}

.cell3 {
  width: 60px;
  height: 20px;
  margin: 20px 10px 0;
}

.cell4 {
  width: 80px;
  height: 20px;
  margin: 20px 10px 0;
}

.cell5 {
  width: 100px;
  height: 20px;
  margin: 20px 10px 0;
}

.brandContainer {
  background: url(https://images.pexels.com/photos/3184405/pexels-photo-3184405.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: top right;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0 8rem;
}

.brand {
  margin: 2rem;
}

.row {
  display: flex;
}

.row > div:hover {
  opacity: 0.75;
  border-radius: 1000px;
  transform: translateX(10px);
  transition: all 0.5s;
}

.brandText {
  margin: 2rem 0 0;
  color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.callAction {
  position: absolute;
  top: 7.5rem;
  right: auto;
  margin: 2rem 0 2rem;
  padding: 2rem;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.bookNow {
  text-decoration: none;
  color: #002060;
  background: linear-gradient(to right, #FFF2CC, #C6E0B4, #9BC2E6);
  padding: 1rem;
  margin: 0.5rem 0 0;
  border-radius: 1000px;
  font-weight: 800;
  font-size: 1.15rem;
}

.bookNow:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #9BC2E6, #FFF2CC, #C6E0B4);
  transition: all 0.5s;
}

.midSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  position: relative;
  padding: 2rem 0;
  color: #002060;
}

.kicker {
  text-align: right;
  margin: 0 1rem;
}

.scrollingAdj {
  height: 1.5rem;
  overflow: hidden;
  border-top: 1px solid #002060;
  border-bottom: 1px solid #002060;
  height: 3rem;
  padding: 0 1rem;
}

.scrollText {
  -webkit-animation: scrollText 8s linear infinite;
          animation: scrollText 8s linear infinite;
  padding: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

@-webkit-keyframes scrollText {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-17.3rem);
  }
}

@keyframes scrollText {
  0% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(-17.3rem);
  }
}
.referSection {
  background: #002060;
}

.referContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.referNow {
  padding: 1rem 1.5rem;
  background: linear-gradient(to right, #FFF2CC, #C6E0B4, #9BC2E6);
  border-radius: 1000px;
  color: #002060;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.15rem;
  margin: 0 1rem;
}

.referNow:hover {
  transform: scale(1.1);
  background: linear-gradient(to right, #9BC2E6, #FFF2CC, #C6E0B4);
  transition: all 0.5s;
}

.referContainer > h2 {
  color: rgba(255, 255, 255, 0.9);
}